:root {
    --background-color: #faf3f3;
    --dark-background-color: #484349;
    --text-color: #2f2a30;
    --shadow-color: #605c61;
    --secondary-shadow-color: #c0b3b8;
    --primary-color: #1af3ff;
    --secondary-color: #8af3ff;
    --third-color: #e76f8e;
}