html, body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', 'Franklin Gothic Medium', 'Arial Narrow';
}

html {
    font-size: 16px;
}

@media screen and (max-width: 940px) { html { font-size: 15px; } }
@media screen and (max-width: 840px) { html { font-size: 14px; } }
@media screen and (max-width: 740px) { html { font-size: 13px; } }

body {
    --header-height: 4rem;
    min-width: 320px;
    min-height: 400px;
    background-color: var(--background-color);
    color: var(--text-color);
}

@keyframes animation-show {
    0% {
        opacity: 0;
        display: flex;
    }

    50% {
        opacity: 1;
        display: flex;
    }
    
    100% {
        opacity: 1;
        display: flex;
    }
}