header {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--header-height);
    background-color: var(--dark-background-color);
    color: var(--background-color);
    box-sizing: border-box;
    box-shadow: 0 0 0.7rem -0.4rem var(--shadow-color);
    user-select: none;
}

header button {
    user-select: none;
}

header > section.title {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

header > section.title > h1 {
    font-size: 1.6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: text;
}

header > section.title > img {
    width: 2rem;
    height: 2rem;
}

@media screen and (max-width: 380px) {
    header > section.title > img { display: none; }
}

header > nav {
    display: flex;
    column-gap: 0.5rem;
    height: 2.5rem;
}

header > div#nav-container {
    position: relative;
    display: none;
    flex-direction: column;
}

@media screen and (max-width: 620px) {
    header > nav { display: none; }
    header > div#nav-container { display: flex; }
}

header > nav > button, header > div#nav-container > button, header > div#nav-container:hover > nav > button {
    background-color: transparent;
    color: var(--background-color);
    font-weight: 800;
    font-size: 0.9rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition:
        background-color 200ms ease-out,
        color 200ms ease-out;
}

header > nav > button {
    width: 7rem;
    height: 100%;
    border-radius: 0.5rem;
}

@media screen and (max-width: 700px) {
    header > nav > button { width: 6rem; }
}

@media screen and (max-width: 640px) {
    header > nav > button { width: 5.5rem; }
}

header > nav > button.active, header > nav > button:hover, header > div#nav-container:hover > button, header > div#nav-container:focus-visible > button, header > div#nav-container > nav > button.active, header > div#nav-container > nav > button:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

header > div#nav-container:hover > button, header > div#nav-container:focus-visible > button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

header > div#nav-container > nav {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    flex-direction: column;
    width: 18rem;
    background-color: var(--dark-background-color);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    opacity: 0;
    z-index: 2;
    box-shadow: 0 0 0.5rem -0.2rem var(--shadow-color);
    overflow: hidden;
    transition: opacity 200ms ease-in;
}

@media screen and (max-width: 460px) {
    header > div#nav-container > nav { width: 16rem; }
}

header > div#nav-container:hover > nav {
    display: flex;
    opacity: 1;
    animation: animation-show 400ms forwards;
}

header > div#nav-container > button {
    width: 5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    transition:
        background-color 200ms ease-out,
        color 200ms ease-out,
        border-bottom-left-radius 200ms ease-out,
        border-bottom-right-radius 200ms ease-out;
}

header > div#nav-container:hover > nav > button {
    padding-left: 1rem;
    text-align: left;
    width: 100%;
    height: 4rem;
    font-size: 1rem;
}